.container{
  background-color:rgb(240, 240, 240);
  padding: 4rem;
  border: 1px solid #ccc;
  border-radius: 30px;
}
.login_btn{
  padding-left: 2rem;
  padding-right: 2rem;
}

.signup{
  display: block;
  margin-top: 2rem;
  font-size: 1.5rem;
}
