<div id="header">
  <h1 class="text-center mt-3">Elenco clienti</h1>
</div>

<div *ngIf="dataCustomers else loading">
  <div class="add-button">
    <button mat-raised-button color="primary" [routerLink]="['/customers/0']" class="p-2">
      <mat-icon>add</mat-icon>Aggiungi un cliente
    </button>
  </div>


  <table mat-table class="mat-elevation-z8 container-md" [dataSource]="dataCustomers.content">
    <!-- RagioneSociale  -->
    <ng-container matColumnDef="ragioneSociale">
      <th mat-header-cell class="text-center" *matHeaderCellDef>Ragione Sociale</th>
      <td mat-cell class="text-left" matTooltip="Vai al cliente" [matTooltipPosition]="'left'"
        [routerLink]="['/customers', element.id]" *matCellDef="let element">{{ element.ragioneSociale }}</td>
    </ng-container>

    <!-- Email  -->
    <ng-container matColumnDef="email">
      <th mat-header-cell class="text-center" *matHeaderCellDef>Email</th>
      <td mat-cell class="text-center" matTooltip="Invia una email" [matTooltipPosition]="'left'"
        *matCellDef="let element" (click)="mailTo(element.email)" class="text-center">{{ element.email }}</td>
    </ng-container>

    <!-- PartitaIva  -->
    <ng-container matColumnDef="partitaIva">
      <th mat-header-cell class="text-center" *matHeaderCellDef>P.IVA</th>
      <td mat-cell class="text-center" *matCellDef="let element">{{ element.partitaIva }}</td>
    </ng-container>

    <!--tipoCliente  -->
    <ng-container matColumnDef="tipoClienti">
      <th mat-header-cell class="text-center" *matHeaderCellDef>Tipo Cliente</th>
      <td mat-cell class="text-center" *matCellDef="let element" class="text-center
      ">{{ element.tipoCliente}}</td>
    </ng-container>
    <!--EmailContatto   -->
    <ng-container matColumnDef="emailContatto" class="text-center">
      <th mat-header-cell class="text-center" *matHeaderCellDef class="text-center">Email contatto</th>
      <td mat-cell class="text-center" *matCellDef="let element">
        {{ element.emailContatto }}
      </td>
    </ng-container>
    <!-- ComuneSede  -->
    <ng-container matColumnDef="comuneSedeOperativa">
      <th mat-header-cell class="text-center" *matHeaderCellDef>Comune sede operativa</th>
      <td mat-cell class="text-center" *matCellDef="let element">
        {{ element.indirizzoSedeOperativa.comune.nome }}
      </td>
    </ng-container>
    <!-- Azioni  -->
    <ng-container matColumnDef="azioni">
      <th mat-header-cell class="text-center" *matHeaderCellDef class="text-center"></th>
      <td mat-cell class="text-center" *matCellDef="let element">
        <div class=""> <button class="mx-2 mb-2" mat-raised-button color="warn" (click)="delete(element.id)">
            <mat-icon>delete</mat-icon>
          </button> <button mat-raised-button class="mx-2 mb-2" color="primary"
            [routerLink]="['/customers/',element.id]">Dettagli</button> <button mat-raised-button class="mx-2 mb-2"
            color="accent" [routerLink]="['/customers/invoices', element.id]">Fatture</button></div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <section><em>Aggiornato alle {{hour}} del {{day}}</em></section>

  <div class="container-md">
    <mat-paginator [length]="this.dataCustomers.totalElements" [pageSizeOptions]="[15,10,5,20]" aria-label="Select page"
      (page)="onPageEvent($event)" class="" showFirstLastButtons="true">
    </mat-paginator>
  </div>
</div>


<ng-template #loading>
  <div id="loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
