.mat-app-background{
  background: rgb(74,13,115);
  background: linear-gradient(90deg, rgba(74,13,115,1) 0%, rgba(46,0,88,1) 100%, rgba(252,176,69,1) 100%);
}

.title{
  font-size: 2rem;
  color: white;
  justify-content: center;

}

li {
  margin-top: 10px;
  display:inline-block;
  cursor: pointer;
  font-size:1.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

ul {
  padding: 0 !important;
  margin: auto;
  text-align:center;
  list-style-type: none;
}

li:hover{
  animation-name: pulse;
  animation-duration: 2s;
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@media screen  and (max-width:992px){

.title{
  font-size: 1.7rem;
}}
