

    <div class="container-md mt-5">
      <mat-card class="">
        <mat-card-title>
          Pagina di Creazione/Modifica Fattura
        </mat-card-title>

        <form [formGroup]="form" (ngSubmit)="submit(form)">
          <!-- data -->
          <mat-form-field>
            <mat-label for="data" class="form-label fs-4 mb-3 mt-5 ">Data</mat-label>

            <input matInput id="data" required formControlName="data" [matDatepicker]="picker" class="" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>

            <mat-error color="warn" *ngIf="form.controls['data'].errors?.['required'] && form.controls['data'].touched">
              Campo obbligatorio/formato errato</mat-error>
          </mat-form-field>

          <!-- numero fattura -->
          <mat-form-field>
            <mat-label for="numero" class="form-label fs-4 mb-3 mt-5 ">Numero Fattura</mat-label>

            <input matInput id="numero" required formControlName="numero" class="" />
            <mat-error color="warn" *ngIf=" form.controls['numero'].errors?.['required']">Campo obbligatorio</mat-error>
            <mat-error color="warn" *ngIf="form.controls['numero'].errors?.['pattern']">Solo numeri consentiti</mat-error>
          </mat-form-field>


          <!-- importo fattura -->
          <mat-form-field>
            <mat-label for="importo" class="form-label fs-4 mb-3 mt-5 ">Importo</mat-label>


            <input type="number" matInput id="importo" required formControlName="importo" class="" /> <span matSuffix
              for="importo" class="fs-5">€</span>

            <mat-error color="warn" *ngIf="form.controls['importo'].errors?.['required']">Campo obbligatorio</mat-error>
          </mat-form-field>

          <!-- Stato fattura -->
          <mat-form-field>
            <mat-label for="stato" class="form-label fs-4 mb-3 mt-5">Stato Fattura</mat-label>

            <mat-select type="stato" id="stato" required formControlName="stato" class="">
              <mat-option *ngFor="let stato of this.statiInv" value="{{stato.id}}">{{stato.nome}}</mat-option>
            </mat-select>
            <mat-error color="warn" *ngIf="form.controls['stato'].errors?.['required']">Campo obbligatorio</mat-error>
          </mat-form-field>
          <mat-card-footer>
            <mat-card-actions>
              <div class="add-btn">
                <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid"
                  class="btn btn-primary fs-4 mt-3 w-50">
                  Modifica Fattura
                </button>
              </div>
            </mat-card-actions>
          </mat-card-footer>
        </form>

      </mat-card>
    </div>


<ng-template #loading>
  <div id="loading">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
