.container {
  margin-top: 5rem;
}

li {
  display: inline-block;
  cursor: pointer;
  margin: 15px;
  font-size: 2rem;
}

li:hover {
  animation-name: pulse;
  animation-duration: 1s;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0 !important;
}

.redirect {
  padding: 4rem;
}



//Keyframes animation

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
