<form  #form="ngForm" (ngSubmit)="addCustomer()" id="body">
  <h1>Crea nuovo cliente</h1>

  <section>
    <div>
      <h2>Dettagli cliente</h2>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Ragione Sociale</mat-label>
          <input matInput [(ngModel)]="newCustomer.ragioneSociale" type="text" required value="ragioneSociale" name="ragioneSociale">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Partita IVA</mat-label>
          <input matInput [(ngModel)]="newCustomer.partitaIva" type="number" required value="partitaIva" name="partitaIva">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="newCustomer.email" type="email" required value="email" name="email">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>PEC</mat-label>
          <input matInput [(ngModel)]="newCustomer.pec" type="email" required value="pec" name="pec">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Telefono</mat-label>
          <input matInput [(ngModel)]="newCustomer.telefono" type="tel" required value="telefono" name="telefono">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Tipo cliente:</mat-label>
          <mat-select [(ngModel)]="newCustomer.tipoCliente" value="tipoCliente" name="tipoCliente">
            <mat-option selected>...</mat-option>
            <mat-option value="SRL">SRL</mat-option>
            <mat-option value="SPA">SPA</mat-option>
            <mat-option value="SAS">SAS</mat-option>
            <mat-option value="PA">PA</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div>
      <h2>Dettagli personali</h2>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Nome</mat-label>
          <input matInput [(ngModel)]="newCustomer.nomeContatto" type="text" value="nomeContatto" name="nomeContatto" >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cognome</mat-label>
          <input matInput [(ngModel)]="newCustomer.cognomeContatto" type="text"  value="cognomeContatto" name="cognomeContatto" >
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Telefono Contatto</mat-label>
          <input matInput [(ngModel)]="newCustomer.telefonoContatto" type="tel"  value="telefonoContatto" name="telefonoContatto">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Email Contatto</mat-label>
          <input matInput [(ngModel)]="newCustomer.emailContatto" type="email" value="emailContatto" name="emailContatto">
        </mat-form-field>
      </div>
    </div>

    <div>
      <h2>Sede operativa</h2>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Indirizzo</mat-label>
          <input matInput [(ngModel)]="newCustomer.indirizzoSedeOperativa.via" type="text" value="indirizzoSedeOperativa.via" name="indirizzoSedeOperativa.via" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Civico</mat-label>
          <input matInput [(ngModel)]="newCustomer.indirizzoSedeOperativa.civico" type="text"
            value="indirizzoSedeOperativa.civico" name="indirizzoSedeOperativa.civico" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cap</mat-label>
          <input matInput [(ngModel)]="newCustomer.indirizzoSedeOperativa.cap" type="number" value="indirizzoSedeOperativa.cap" name="indirizzoSedeOperativa.cap" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Località</mat-label>
          <input matInput [(ngModel)]="newCustomer.indirizzoSedeOperativa.localita" type="text"
            value="indirizzoSedeOperativa.localita" name="indirizzoSedeOperativa.localita" />
        </mat-form-field>
      </div>
    </div>

    <div>
      <h2>Sede legale</h2>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Indirizzo</mat-label>
          <input matInput [(ngModel)]="newCustomer.indirizzoSedeLegale.via" type="text" required value="indirizzoSedeLegale.via" name="indirizzoSedeLegale.via" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Civico</mat-label>
          <input matInput [(ngModel)]="newCustomer.indirizzoSedeLegale.civico" type="text" required
            value="indirizzoSedeLegale.civico" name="indirizzoSedeLegale.civico" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cap</mat-label>
          <input matInput [(ngModel)]="newCustomer.indirizzoSedeLegale.cap" type="number" required value="indirizzoSedeLegale.cap" name="indirizzoSedeLegale.cap" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Località</mat-label>
          <input matInput [(ngModel)]="newCustomer.indirizzoSedeLegale.localita" type="text" required
            value="indirizzoSedeLegale.localita" name="indirizzoSedeLegale.localita" />
        </mat-form-field>
      </div>
    </div>
  </section>

  <div id="buttons">
    <button mat-flat-button color="accent" type="submit" [disabled]="form.invalid">
      Aggiungi
    </button>
  </div>
</form>
